*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
}
.bb{
    background-color: #FBE9EB;
    color: red;
}
.bb:hover{
    background-color: red;
    color: white;
}
.watch{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: skyblue;
}
.watch:hover{
    transform: scale(1.1);
}
.watch2{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: royalblue;
}
.bh{
    font-size: 55px;
}
.sc{
    width: 60px;
    height: 60px;
    background-color: white;
    box-shadow: 0px -1px 31px -7px rgba(71,64,64,1);
    position: absolute;
    bottom: 70%;
    text-align: center;
    border-radius: 15px;
}
.scc{
    width: 45px;
    height: 60px;
    background-color: white;
    box-shadow: 0px -1px 31px -7px rgba(71,64,64,1);
    position: absolute;
    left: 82%;
    bottom: 35%;
    text-align: center;
    border-radius: 15px;
}
.sccc{
    width: 50px;
    height: 50px;
    background-color: white;
    box-shadow: 0px -1px 31px -7px rgba(71,64,64,1);
    position: absolute;
    right: 20%;
    top: 10%;
    text-align: center;
    border-radius: 15px;
}
.b25{
    bottom: -10px;
    left: -20px;
}
.hred{
    color: grey;
}
.hred:hover{
    color: red;
}
.hb:hover{
    color: blue;
    cursor: pointer;
}